table input[type=text] {
	width: 100%;
}

div {
	margin-bottom: 1cm;
}

#dvTopics {
	width: 45%;
	text-align: center;
	float: left;
}
#dvTests {
	margin-left: 1cm;
	width: 45%;
	text-align: center;
	float: left;
}
#dvGenerateTest {
	clear: both;
}
#tblTopics {
	width: 100%;
}
#ulTopics {
	list-style-type: none;
}