$def with(topics)
<html>
<head>
	<title>Панель адміністратора</title>
	<link rel="stylesheet" href="/static/admin_dashboard.css">
	<script src="/static/jquery.js"></script>
	<script src="/static/admin_dashboard.js"></script>
</head>
<body onload="bodyLoaded();">
	<h1>Панель адміністратора</h1>
	<div id="dvTopics">
		<h2>Теми</h2>
		<table id="tblTopics">
			<tr>
				<th>Назва</th>
				<th>Питання</th>
				<th>Дії</th>
			</tr>
			<tr>
				<td><input type="text" id="txtTopicName" placeholder="Нова тема"/></td>
				<td></td>
				<td><input type="button" onclick="btnAddTopic_clicked()" value="Додати"/></td>
			</tr>
		</table>
	</div>
	<!-- <input type="button" value="Reload topics" onclick="reloadTopics();"/> -->
</body>
</html>