<html>
<head>
	<title>Звіт по тесту {{test_name}}</title>
	<link rel="stylesheet" href="/static/attempt_report.css">
	<link rel="stylesheet" href="/static/styles.css">
	<script src="/static/jquery.js"></script>
	<script src="/static/attempt_report.js"></script>
</head>
<body onload="bodyLoaded();">
	<input type="hidden" name="attempt_id" id="attempt_id" value="{{attempt_id}}">
	<a href="/dashboard">Головна</a>
	<h1>Звіт по тесту {{test_name}}</h1>
	<h2>Результат: <span id="spResult"></span> з <span id="spTotal"></span></h2>
	<table id="tblQuestions">
		<tr>
			<th>Питання</th>
			<th>Відповіді</th>
			<th>Коментар</th>
		</tr>
		</table>
</body>
</html>