<html>
<head>
	<title>Домашня сторінка</title>
	<link rel="stylesheet" href="static/styles.css">
</head>
<body>
<h1>Вітаємо, {{ student['firstname'] }}</h1>
<div class="dashboardBlock">
	<h2>Доступні тести</h2>
	<table>
		<tr>
			<th>Назва</th>
			<th>Кращий результат</th>
			<th>Дії</th>
		</tr>
		{% for test in tests %}
			<tr>
				<td>{{ test['name'] }}</td>
				<td>
					{% if not (test['result'] == None) %}
						{{test['result']}} / {{test['question_count']}}&nbsp;
						<a href="/attempt_report?attempt_id={{test['attempt_id']}}">
							(звіт)
						</a>
					{% else %}
						-
					{% endif %}
				</td>
				<td><a href="/test?test_id={{test['id']}}">Пройти</a></td>
			</tr>
		{% endfor %}
	</table>
</div>

<div class="dashboardBlock">
	<h2>Попередні спроби</h2>
	<table>
		<tr>
			<th>Тест</th>
			<th>Початок</th>
			<th>Кінець</th>
			<th>Результат</th>
		</tr>
		{% for attempt in attempts %}
			{% set progress = '{0:.3g}%'.format(attempt['answered']/attempt['question_count']*100) %}
			{% if attempt['result'] %}
				{% set result = '{0}/{1}'.format(attempt['result'], attempt['question_count']) %}
			{% endif %}
			<tr>
				<td>{{attempt['name']}}</td>
				<td>{{attempt['start']}}</td>
				<td>{{ 'N/A' if not attempt['end'] else attempt['end'] }}</td>
				<td>
					{% if not attempt['end'] %}
						Дано відповіді на {{progress}} питань, <a href="/test?continue=1&attempt_id={{attempt['attempt_id']}}&test_id={{attempt['test_id']}}">продовжити</a>?
					{% else %}
						{{result}} <a href="/attempt_report?attempt_id={{attempt['attempt_id']}}">Звіт...</a>
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</table>
</div>

</body>
</html>