$def with(student, attempts, tests)
<html>
<head>
	<title>Домашня сторінка</title>
	<link rel="stylesheet" href="static/styles.css">
</head>
<body>
<h1>Вітаємо, $student['firstname']</h1>
<div class="dashboardBlock">
	<h2>Доступні тести</h2>
	<table>
		<tr>
			<th>Назва</th>
			<th>Кращий результат</th>
			<th>Дії</th>
		</tr>
		$for test in tests:
			<tr>
				<td>$test['name']</td>
				<td>
					$if test['result'] is None:
						N/A
					$else:
						$int(test['result'])/$test['question_count']
				</td>
				<td><a href="/test/start?test_id=$test['id']">Пройти</a></td>
			</tr>
	</table>
</div>

<div class="dashboardBlock">
	<h2>Попередні спроби</h2>
	<table>
		<tr>
			<th>Назва</th>
			<th>Початок</th>
			<th>Кінець</th>
			<th>Результат</th>
		</tr>
		$for attempt in attempts:
			$ progress = '{0:.2g}%'.format(float(attempt['answered'])/attempt['question_count']*100)
			$if attempt['result']:
				$ result = '{0}/{1}'.format(int(attempt['result']), attempt['question_count'])
			<tr>
				<td>$attempt['name']</td>
				<td>$attempt['start']</td>
				<td>$attempt['end']</td>
				<td>
					$if not attempt['end']:
						Тест завершено на $progress, <a href="/test/continue?attempt_id=$attempt['attempt_id']&test_id=$attempt['test_id']">продовжити</a>?
					$else:
						Результат: $result. <a href="#">Звіт...</a>
				</td>
			</tr>
	</table>
</div>

</body>
</html>