$def with(student, attempts, tests)
<html>
<head>
	<title>Домашня сторінка</title>
	<link rel="stylesheet" href="static/styles.css">
</head>
<body>
<h1>Вітаємо, $student['firstname']</h1>
<div class="dashboardBlock">
	<h2>Доступні тести</h2>
	<table>
		<tr>
			<th>Назва</th>
			<th>Результат</th>
			<th>Actions</th>
		</tr>
		$for test in tests:
			<tr>
				<td>$test['name']</td>
				<td>
					$if test['result'] is None:
						N/A
					$else:
						$int(test['result']) / $test['maxresult']
				</td>
				<td><a href="/test/start?test_id=$test['id']">Try</a></td>
			</tr>
	</table>
</div>

<div class="dashboardBlock">
	<h2>Попередні спроби</h2>
	<table>
		<tr>
			<th>Назва</th>
			<th>Початок</th>
			<th>Кінець</th>
			<th>Прогрес</th>
			<th>Результат</th>
			<th>Дії</th>
		</tr>
		$for attempt in attempts:
			<tr>
				<td>$attempt['name']</td>
				<td>$attempt['start']</td>
				<td>$attempt['end']</td>
				<td>$attempt['answered']/$attempt['question_count']</td>
				<td>$attempt['result']</td>
				<td>
					$if not attempt['end']:
						<a href="/test/continue?attempt_id=$attempt['attempt_id']&test_id=$attempt['test_id']">
							Продовжити
						</a>
					$else:
						<a href="#">Результат</a>
				</td>
			</tr>
	</table>
</div>

</body>
</html>