<html>
	<head>
		<title>Test</title>
	</head>
	<link rel="stylesheet" href="static/test.css">
	<script src="/static/jquery.js"></script>
	<script src="/static/test.js"></script>
<body onload="bodyLoaded();">
	<h1>Проходження тесту "{{ test_name }}"</h1>
	<form action='end_test' method="POST">
		<table>
			<tr>
				<th>Питання</th>
			</tr>
				{% for question in questions %}
					{% set id = question['id'] %}
					{% set type = 'checkbox' if question['multiselect'] else 'radio' %}
					<tr>
						<td name="questionContainer" id="td_$id">
							<span name="question">{{ question['text'] }}</span>
							<ul style="list-style-type: none;">
							{% for ans in question['answers'] %}
								<li>
								{% set name = id %}
								{% set value = ans['id'] %}
								{% set checked = 'checked' if ans['selected'] else '' %}
								<input type="{{type}}" id="{{value}}" name="{{name}}" value="{{value}}" {{checked}} onchange="updateAnswer({{id}});"/> <label for="{{value}}">{{ans['text']}}</label>
								</li>
							{% endfor %}
							</ul>
						</td>
					</tr>
					<tr>
						<td>
							<hr>
						</td>
					</tr>
				{% endfor %}
		</table>
		<input type="hidden" name="attempt_id" id="attemptId" value="{{attempt_id}}">
		<input type="hidden" name="finished" id="finished" value="0">
		<input type="submit" id="btnSubmit" value="Зберегти" disabled="disabled">
	</form>
</body>
</html>